.wrapper {
  margin-left: 0px;
  padding: 0;
  text-align: center
}

.navItem {
    display: inline-block;
    margin-right: 50px;
    list-style: none;
    
    
    &Link {
      text-decoration: none;
      color: #818181;
      font-size: 1.2em;
      
      &Active {
        font-weight: 700;
        color: #fc5185;
        
      }
    }
  }